// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #46b1c9;
$yellow: #FFC65A;
$orange: #ff9000;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$our-lb: #84c0c6;
