<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1>Editing Profile</h1>
      <%= render 'form', user: @user %>
      <%= link_to 'Show', @user %> |
      <%= link_to 'Back', user_path %>
    </div>
  </div>
</div>
