<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path "family-banner.jpg"%>);">
  <div class="container">
    <h1>I need a...</h1>
  </div>
</div>
<div class="hp-card-container mt-5">
  <div class="cards">
    <% @roles.each do |role| %>
      <%= link_to roles_path, class: "text-decoration-none" do%>
        <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path role%>)">
          <%= role.capitalize %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
