<div class="container">
  <div class="card-trip">
    <h2>20 hot moms in your area...</h2>
    <% @roles.each do |role| %>
      <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ5LznCAySavsDsdAEOE6glIYwe990V1yZ4w&usqp=CAU" %>
      <div class="card-trip-infos">
        <h2><%= role.role %></h2>
      </div>
    <% end %>
  </div>
</div>
