<div class="container mt-3">
  <h2> <%= pluralize(@roles.count,"hot #{params[:name]}" )%> in your area...  </h2>
  <div class="all-cards">
    <% @roles.each do |role| %>
      <div class="card-trip">
        <%= image_tag "mo.jpg", class: 'image' %>
        <div class="card-trip-infos">
          <h2><%= role.name %></h2>
        </div>
        <%= link_to '', role_path(role), class: 'list-link' %>
      </div>
    <% end %>
  </div>
</div>
