<div class="container">
  <div class="cards mt-4 mx-4">
    <div class="card-category d-flex flex-column" >
    <h1><%= @user %></h1>
      <div class="user-image mt-4">
        <%= image_tag("placeholder-profile.png", size: "360x360") %>
      </div>
    </div>
  </div>
</div>
