<div class="container">
  <div class="cards mt-4 mx-4">
    <h1><%= @user %></h1>
    <div class="card-category d-flex mt-4 justify-content-between" >
      <div class="user-image">
        <%= image_tag("placeholder-profile.png", size: "360x360") %>
      </div>
      <div class="user-bio ml-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo corporis cumque repellendus. Neque velit, officia fugiat labore et rem!</p>
      </div>
    </div>
  </div>
</div>
