.user-container {
  // background-size: cover;
  // background-position: center;
  // height: auto;
  // width: 50%;
  display: flex;
  align-items: center;
  color: black;
  font-size: 3rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.user-image img {
  height: 360px;
  width: 360px;
  margin: 0;
  display: inline-block;
  border-radius: 8px 0px 0px 8px;
}

.user-bio {
  margin-top: 16px;
  padding: 0 16px;
  height: 70%;

  p {
    margin-top: 16px;
    font-size: 1.5rem;
  }
}


@media (max-width: 770px) {
  .user-container {
    flex-direction: column;
    justify-content: center;
  }

  .user-bio {
    margin: 16px;
    padding: 0 16px;
    width: 360px;
  }

  .user-image img {
    margin-top: 40px;
    width: 100%;
    border-radius: 8px;
  }
}

// .user-image {
//   width: 40%;
// }

// .user-bio {
//   width: 60%;
// }
